*{
    margin: 0px auto;
    padding: 0px;
}

/* .contenido{
    width: 400px;
    height: 600px;
    background-color: black;
} */
/* 
body{
    margin-top: 150px;
    margin-left: 1002px;
    margin-right: 1002px;
    margin-bottom: 100px;
    position: relative;
    width: 400px;
    height: 660px;
    border-bottom-color: solid black;
    background-image: ;
    background-color: aquamarine;
} */